# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env
*.sqlite3

# Jupyter Notebooks
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Node/React (frontend)
node_modules/
dist/
build/
.env.local
.env.development
.env.production
