fastapi
google-generativeai
langchain
langchain-community
langchain-core
langchain-google-genai
pydantic
python-dotenv
uvicorn
pandas
fuzzywuzzy
python-Levenshtein
numpy
seaborn
matplotlib
python-multipart
rapidfuzz
chromadb
spacy
scikit-learn
